body,
html,
#root {
	overflow: hidden;
	height: 100%;
}

.App {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.App.inverted {
	flex-direction: row-reverse;
}

.pivots {
	display: flex;
	width: 100%;
	height: 80px;
}

.pivots.inverted {
	height: 100%;
	width: 80px;
	flex-direction: column;
}

.number {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	transition: all 0.7s ease-in-out;
	overflow: hidden;
}

.pivots>.number>span {
	display: none;
}

.pivots>.number>div {
	font-size: 20px;
	opacity: 0.5;
}

.pivots:hover>.number>span {
	display: initial;
}

.pivots:hover>.number>div {
	display: none;
}

.field {
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	background-color: rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.roll {
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	background: rgba(230, 10, 10, 0.5);
	animation: grow 0.5s ease-in-out infinite alternate;
}

.roll-result {
	font-size: 108px;
	user-select: none;
	animation: font-scale 0.5s ease-in-out;
}

.line {
	position: absolute;
	bottom: 0;
	left: -100%;
	height: 100%;
	width: 8px;
	transform: translateX(-4px);
	background-color: rgba(0, 0, 0, 0.5);
	transition: left 0.5s ease-in-out;
}

.line.inverted {
	position: absolute;
	left: 0;
	bottom: -100%;
	width: 100%;
	height: 8px;
	transform: translateY(-4px);
	transition: top 0.5s ease-in-out;
}

.disclaimer {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: radial-gradient(black, transparent);
	color: white;
	animation: disclaimer 2s normal forwards ease-in-out;
}

@keyframes grow {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(2);
		opacity: 0.5;
	}
}

@keyframes font-scale {
	0% {
		font-size: 2px;
	}

	100% {
		font-size: 108px;
	}
}

@keyframes disclaimer {
	0% {
		transform: scale(2);
	}

	100% {
		transform: scale(0);
	}
}